body {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.header {
	width: 10%;
	overflow: hidden;
	padding: 10px;
}

.container {
	width: 80%;
	height: 70svh;
	margin: 0 auto;
	border: 2px solid white;
	padding: 20px;
	overflow: hidden;
	position: relative;
}

.character {
	float: left;
}

.avatar-section,
.status {
	box-sizing: border-box;
	margin-right: 2%;
	text-align: center;
}

.avatar-section img {
	width: 200px;
	height: 200px;
	border: 2px solid white;
}

.status_child {
	width: 200px;
	border: 2px solid white;
	padding: 10px;
	font-size: 1.1em;
}

.subject,
.result,
.kaito {
	display: flex;
	position: relative;
	font-size: 2em;
	flex-direction: column;
	align-items: center;
}

.subject {
	width: 40%;
	left: 15%;
	border: 2px solid white;
	margin-bottom: 2%;
	padding: 10px 0 10px 0;
}

.result,
.kaito {
	margin: 20px 0 20px 0;
	border-bottom: 1px solid white;
}

.result {
	width: 30%;
	left: 20%;
}

.kaito {
	width: 10%;
	left: 14%;
}

.total_result {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 24%;
	background-color: white;
	color: black;
	font-size: 1.3em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.id,
.text,
.answer {
	box-sizing: border-box;
	display: flex;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}

.id {
	width: 10%;
}

.text {
	width: 70%;
}

.answer {
	width: 20%;
}

.dojyo,
.next {
	position: absolute;
	text-align: center;
	padding: 10px;
	border: 2px solid white;
	width: 20%;
	bottom: 5%;
	font-size: 1.5em;
}

.next {
	right: 3%;
}