body {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.header {
	width: 10%;
	overflow: hidden;
	padding: 10px;
}

.container {
	width: 85%;
	height: 70svh;
	margin: 0 auto;
	border: 2px solid white;
	padding: 20px;
	overflow: hidden;
	position: relative;
}

.character {
	position: fixed;
	float: left;
	z-index: 90;
}

.avatar-section,
.status {
	box-sizing: border-box;
	margin-right: 2%;
	text-align: center;
}

.avatar-section img {
	width: 200px;
	height: 200px;
	border: 2px solid white;
}

.status_child {
	width: 200px;
	border: 2px solid white;
	padding: 10px;
	font-size: 1.1em;
}

.up_status_hp,
.up_status_hp.highlight,
.up_status_attack,
.up_status_attack.highlight,
.up_status_defense,
.up_status_defense.highlight,
.up_status_speed,
.up_status_defense.highlight {
	position: relative;
	width: 30%;
	left: 70%;
}

.up_status_hp,
.up_status_attack,
.up_status_defense,
.up_status_speed {
	color: black;
}

.up_status_hp.highlight,
.up_status_attack.highlight,
.up_status_defense.highlight,
.up_status_defense.highlight {
	color: #ff7f7f;
}

.subject,
.result,
.answer {
	display: flex;
	position: relative;
	font-size: 2em;
	justify-content: center;
	align-items: center;
}

.subject {
	width: 40%;
	left: 30%;
	border: 2px solid white;
	margin-bottom: 2%;
	padding: 10px 0 10px 0;
}

.result,
.answer {
	margin: 20px 0 20px 0;
}

.result {
	width: 30%;
	left: 35%;
	border-bottom: 1px solid white;
}

.answer {
	width: 50%;
	left: 25%;
}

.answer p {
	width: 15%;
	text-align: center;
	margin: 0 30px 0 0;
	border-bottom: 1px solid white;
}

.answer_red {
	color: #ff7f7f;
	margin-right: 30px;
}

.answer_blue {
	color: #7f7fff;
}

.total_result {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 24%;
	background-color: white;
	color: black;
	font-size: 1.3em;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

.text,
.model_answer,
.selected_answer {
	box-sizing: border-box;
	display: flex;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.model_answer,
.selected_answer {
	width: 50%;
}

.text {
	width: 100%;
}

.next,
#dojyo {
	position: absolute;
	text-align: center;
	width: 20%;
	height: 5svh;
	bottom: 5%;
	font-size: 1.5em;
	right: 3%;
	border: 2px solid white;
}

.next label {
	display: flex;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 1.1em;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.next:hover {
	background-color: grey;
	opacity: 0.7;
}

#dojyo {
	visibility: hidden;
	position: fixed;
	z-index: 90;
	bottom: 26%;
	right: 10%;
}

#dojyo button {
	width: 100%;
	background: black;
	color: white;
	cursor: pointer;
	font-size: 1.1em;
}

input {
	display: none;
}

#overlay {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 70;
	width: 100%;
	height: 100%;
}

#bg_gray {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 80;
	pointer-events: none;
}

#window {
	padding: 20px;
	display: inline-block;
	position: fixed;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	background-color: black;
	border: 2px solid white;
	box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.6);
	z-index: 90;
	opacity: 0;
}

#msg {
	font-size: 2em;
}

.result_item form {
	width: 40%;
}

.result_item button {
	width: 100%;
	height: 5svh;
	color: white;
	background: black;
	font-size: 1.0em;
	border: 2px solid white;
	cursor: pointer;
}

.result_item button:hover {
	background-color: grey;
	opacity: 0.7;
}

#window a {
	position: absolute;
	bottom: 0;
}

#popup:checked~#overlay,
#popup:checked~#dojyo {
	visibility: visible;
}

#popup:checked~#overlay #window {
	animation: fadein 500ms forwards;
	animation-timing-function: ease-in-out;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

body {
	margin: 30px;
}