@charset "UTF-8";

body {
	background-image: url("../画像/問題画面背景.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

body a {
	text-decoration: none;
	color: white;
}

.question,
.answer {
	display: flex;
	align-items: center;
	position: absolute;
	left: 25%;
	background-color: white;
	font-size: 1.5em;
}

.question {
	width: 50%;
	height: 5%;
	top: 15%;
	padding-left: 1%;
	border: 5px solid black;
}

.answer {
	justify-content: center;
	width: 10%;
	height: 13%;
	top: 25%;
	border: 1px solid black;
}

.title,
.back,
.confirmation {
	position: fixed;
	width: 20%;
	text-align: center;
	background-color: black;
	border: 2px solid white;
	font-size: 2em;
	color: white;
}

.title {
	top: 5%;
	right: 40%;
}

.back {
	bottom: 5%;
	left: 5%;
}

.confirmation {
	bottom: 5%;
	right: 5%;
}