@charset "UTF-8";

body {
	background-image: url("../画像/問題画面背景.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

body a {
	text-decoration: none;
	color: white;
}

.question,
.answer {
	display: flex;
	align-items: center;
	position: relative;
	top: 150px;
	left: 25%;
	background-color: white;
	font-size: 1.5em;
}

.question {
	width: 50%;
	margin-bottom: 30px;
	padding-left: 1%;
	border: 5px solid black;
}

.answer {
	flex-wrap: wrap;
	justify-content: center;
	width: 51%;
	height: 13%;
	margin-bottom: 150px;
	border: 1px solid black;
	box-sizing: border-box;
}

.answer label {
	text-decoration: none;
	cursor: pointer;
}

.answer input {
	display: none;
}

.answer1,
.answer2,
.answer3,
.answer4 {
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	box-sizing: border-box;
	cursor: pointer;
}

.title,
.back,
.confirmation {
	position: fixed;
	width: 20%;
	text-align: center;
	background-color: black;
	border: 2px solid white;
	font-size: 2em;
	color: white;
}

.title {
	top: 5%;
	right: 40%;
}

.back {
	bottom: 5%;
	left: 5%;
}

.confirmation {
	bottom: 5%;
	right: 5%;
}
