.error {
	color: red;
	display: none;
}

body {

	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	/* 水平方向に中央揃え */
	align-items: center;
	/* 垂直方向に中央揃え */
	height: 100vh;
	/* ビューポートの高さを占める */
	margin: 0;
	/* マージンをリセット */
}

h1 {
	font-size: 6em;
	margin: 0;
	width: 100%;
	text-align: center;
}

.login {
	width: 100%;
	text-align: right;
	/* 右揃え */
}

.login label {
	display: inline-block;
	/* ラベルをインラインブロックに */
	text-align: right;
	/* ラベルを右揃え */
	margin-bottom: 5px;
	/* ラベルと入力の間に余白を追加 */
	margin-right: 10px;
	/* ラベルと入力フィールドの間に余白を追加 */
}

.login input {
	display: inline-block;
	/* 入力フィールドをインラインブロックに */
	width: calc(100% - 120px);
	/* 幅を調整 */
	padding: 5px;
	/* 入力フィールドの内側に余白を追加 */
	margin-bottom: 10px;
	/* 入力フィールドの下に余白を追加 */
	border: 1px solid white;
	/* 境界線を追加 */
	background-color: transparent;
	/* 背景を透明に */
	color: white;
	/* テキストの色を白に */
	text-align: left;
	/* テキストを右揃え */
}

button:hover {
	background-color: grey;
	/* hover時の背景色 */
}

button {
	background: none;
	border: none;
	padding: 10px;
	font-size: 1.5em;
	color: white;
	width: 100%;
	cursor: pointer;
}

.login_btn,
.new_btn {
	position: absolute;
	bottom: 0;
	border: 2px solid white;
	width: 30%;
	margin-bottom: 10px;
}

.login_btn {
	left: 0;
	margin-left: 10px;
}

.new_btn {
	right: 0;
	margin-right: 10px;
}